* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fffffe;
}

:root {
    --border-color: linear-gradient(
        to bottom, 
        #038b4b 0%, 
        #29af54 50%, 
        #e6ce24 100%
    );
}

/* HEADER */

.main__header {
    display: grid;
}

.main__header__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    background-color: #1E3933;
    min-height: 250px;
}

.main__header__text__title {
    font-size: calc(3.5rem + .5vw);
    color: #EEE;
}

.main__header__text__description {
    font-size: calc(1.2rem + .5vw);
    color: #EEE;
}

.main__header__text__button {
    display: inline-block;
    width: 130px;
    padding: 8px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background: linear-gradient(180deg, #fccb1b 0%, #ff9900 100%);
    color: #EEE;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
}

.main__header__social-media__icon {
    width: calc(2rem + 0.5vw);
    margin-left: 5px;
}

.main__header__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* OUR PRODUCTS */

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

.product__title {
    font-size: calc(1.5rem + 1vw);
    color: #333;
    margin-bottom: 30px;
}

.product__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
}

.product__grid__item__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    /* border: 5px solid transparent; */
    /* border-image: linear-gradient(to bottom, #038b4b 0%, #29af54 50%, #e6ce24 100%) 1; */
    background: var(--border-color);
    padding: 5px;
}

/* HOME MENU */

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu__title {
    font-size: calc(1.5rem + 1vw);
    color: #333;
    margin-bottom: 30px;
}

.menu__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-auto-rows: auto;
    gap: 40px;
}

.menu__grid__item {
    position: relative;
}

.menu__grid__item__image {
    width: 100%;
    object-fit: cover;
    border: 5px solid transparent;
    border-image: var(--border-color) 1;
    background: #1E3933;
}

.menu__grid__item__icon {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 10px;
    right: 2px;
    background-image: url(./images/icons/corazon-blanco.png);
    background-repeat: no-repeat;
    background-size: 15px;
}

.menu__grid__item__icon:hover {
    background-image: url(./images/icons/corazon-rojo.png);
}

.menu__grid__item__description {
    font-size: 1.8rem;
    color: #333;
    text-align: center;
    margin-top: 10px;
}

/* FOOTER */

.footer {
    background: #1E3933;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__text {
    color: #EEE;
    font-size: 1.3rem;
}

.footer__text__link {
    color: #fccb1b;
}

/* MEDIA QUERIES */

@media screen and (min-width: 425px) {
    .product__grid__item--ppal {
        grid-area: 1 / 1 / 3 / 3;
    }

    .menu__grid {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media screen and (min-width: 768px) {
    .main__header {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu__grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

