* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fffffe;
}

:root {
    --text-black: #333;
    --text-white: #EEE;
    --bg-darkGreen: #1E3933;
    --bg-button: linear-gradient(
        180deg, 
        #fccb1b 0%, 
        #ff9900 100%
    );
    --border-color: linear-gradient(
        to bottom, 
        #038b4b 0%, 
        #29af54 50%, 
        #e6ce24 100%
    );
}

/* HEADER */

.header {
    display: grid;
}

.header__text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    background-color: var(--bg-darkGreen);
    min-height: 250px;
}

.header__title {
    font-size: calc(3.5rem + .5vw);
    color: var(--text-white);
}

.header__description {
    font-size: calc(1.2rem + .5vw);
    color: var(--text-white);
}

.header__button {
    display: inline-block;
    width: 130px;
    padding: 8px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background: var(--bg-button);
    color: var(--text-white);
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
}

.header__social-icon {
    width: calc(2rem + 0.5vw);
    margin-left: 5px;
}

.header__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* OUR PRODUCTS */

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

.product__title {
    font-size: calc(1.5rem + 1vw);
    color: var(--text-black);
    margin-bottom: 30px;
}

.product__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
}

.product__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    background: var(--border-color);
    padding: 5px;
}

/* HOME MENU */

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu__title {
    font-size: calc(1.5rem + 1vw);
    color: var(--text-black);
    margin-bottom: 30px;
}

.menu__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-auto-rows: auto;
    gap: 40px;
}

.menu__item {
    position: relative;
}

.menu__item-image {
    width: 100%;
    object-fit: cover;
    border: 5px solid transparent;
    border-image: var(--border-color) 1;
    background: var(--bg-darkGreen);
}

.menu__item-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 10px;
    right: 2px;
    background-image: url(./images/icons/corazon-blanco.png);
    background-repeat: no-repeat;
    background-size: 15px;
}

.menu__item-icon:hover {
    background-image: url(./images/icons/corazon-rojo.png);
}

.menu__item-description {
    font-size: 1.8rem;
    color: var(--text-black);
    text-align: center;
    margin-top: 10px;
}

/* FOOTER */

.footer {
    background: var(--bg-darkGreen);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__text {
    color: var(--text-white);
    font-size: 1.3rem;
}

.footer__text-link {
    color: #fccb1b;
}

/* MEDIA QUERIES */

@media screen and (min-width: 425px) {
    .product__item--ppal {
        grid-area: 1 / 1 / 3 / 3;
    }

    .menu__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .header {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}